<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>小区是我们的家</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/viewer.min.css">
    <script src="/static/css/viewer.min.js"></script>
</head>
<body>
<div class="mainbody">
    <div class="peripheral">
        <ul class="detail">
            <li><div><span>2023-09-13</span><h4>小区外存放煤气罐的商铺仍未办理，严重威胁小区和业主的安全</h4><img class="my_video" style="object-fit: contain;" src="/static/202309/20230913-1.jpg" alt=""></div></li>
            <li><div><span>2023-09-02</span><h4>消防设备挡板玻璃破了很久，物业不维护</h4><img class="my_video" style="object-fit: contain;" src="/static/202309/20230902-1.jpg" alt=""><img class="my_video" style="object-fit: contain;" src="/static/202309/20230902-2.jpg" alt=""></div></li>
            <li><div><span>2023-09-01</span><h4>墙壁修复未复原</h4><img class="my_video" style="object-fit: contain;" src="/static/202309/20230901-1.png" alt=""></div></li>
            <li><div><span>2023-09-01</span><h4>丽岛物业服务富丽庭全体业户证明，其未百分百服务融科花满庭小区全体业主</h4><img class="my_video" style="object-fit: contain;" src="/static/202309/20230901-2.jpg" alt=""></div></li>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript">
    document.querySelectorAll('.my_video').forEach(ele => {new Viewer(ele, {viewed() {},});})
</script>
</html>