<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>小区是我们的家</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="mainbody">
    <div class="peripheral">
        <ul class="detail">
            <li lang="1"><div><span>2023-09-01</span><h3><a href="static/2/4-1.jpg" target="_blank">融科花满庭小区2023年第一次临时业主大会会议小组会议纪要</a></h3></div></li>
            <li lang="1"><div><span>2023-08-29</span><h3><a href="static/20230829-1.jpg" target="_blank">物业工作联系函，吃相很难看</a></h3></div></li>
            <li lang="1"><div><span>2023-08-30</span><h3><a href="https://mp.weixin.qq.com/s/xl2-FLKV2djY4yrEI54etA" target="_blank">关于物业《工作联系函》的几个疑问</a></h3></div></li>
            <li lang="1"><div><span>2023-08-29</span><h3><a href="http://liuyan.cjn.cn/fiveblockviewxq?tid=2630407" target="_blank">花满庭小区门口商贩占道经营严重影响小区出行有安全隐患</a></h3></div></li>
            <li lang="1"><div><span>2023-08-25</span><h3><a href="http://liuyan.cjn.cn/fiveblockviewxq?tid=2625265" target="_blank">白沙洲大道 融科花满庭丽岛物业不作为</a></h3></div></li>
            <li lang="1"><div><span>2023-08-24</span><h3><a href="http://liuyan.cjn.cn/fiveblockviewxq?tid=2624064" target="_blank">融科花满庭物业随意动用维修基金</a></h3></div></li>
            <li lang="1"><div><span>2023-08-23</span><h3><a href="https://mp.weixin.qq.com/s/tPEzp4Nz1MJUT3_Um_BwkA" target="_blank">为什么物业一夜之间“能干”了？</a></h3></div></li>
            <li lang="1"><div><span>2023-08-23</span><h3><a href="http://liuyan.cjn.cn/fiveblockviewxq?tid=2623059" target="_blank">武汉市洪山区青菱街道融科花满庭底商存放煤气罐</a></h3></div></li>
            <li lang="1"><div><span>2023-08-22</span><h3><a href="http://liuyan.cjn.cn/fiveblockviewxq?tid=2620146" target="_blank">融科花满庭物业吃空小区公共收益</a></h3></div></li>
            <li lang="1"><div><span>2023-08-21</span><h3><a href="http://liuyan.cjn.cn/fiveblockviewxq?tid=2618993" target="_blank">融科花满庭丽岛物业，阻止业主合法合规召开业主大会</a></h3></div></li>
            <li lang="1"><div><span>2023-08-21</span><h3><a href="http://liuyan.cjn.cn/fiveblockviewxq?tid=2618070" target="_blank">融科花满庭物业不作为满地狗屎无人扫</a></h3></div></li>
            <li lang="1"><div><span>2023-08-15</span><h3><a href="https://mp.weixin.qq.com/s/-Dgae4k9nK3Ckn5RgZCm9Q" target="_blank">为什么一定要换掉丽岛物业？</a></h3></div></li>
            <li lang="1"><div><span>2023-01-19</span><h3>未恢复小区植被</h3><img src="/static/20230829-1.jpg" alt=""></div></li>
        </ul>
    </div>
</div>
</body>
</html>