<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>小区是我们的家</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/viewer.min.css">
    <script src="/static/css/viewer.min.js"></script>
</head>
<body>
<div class="mainbody">
    <div class="peripheral">
        <ul class="detail">
            <li><div><span>2023-12-08</span><h4>小区外摊贩仍在小区路边摆摊，影响业主出行</h4><img class="my_video" style="object-fit: contain;" src="/static/202312/20231208-1.jpg" alt=""><img class="my_video" style="object-fit: contain;" src="/static/202312/20231208-2.jpg" alt=""></div></li>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript">
    document.querySelectorAll('.my_video').forEach(ele => {new Viewer(ele, {viewed() {},});})
</script>
</html>