<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>小区是我们的家</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="mainbody">
    <div class="peripheral">
        <ul class="detail">
            <li><div><span>2023-09-01</span><h3>墙壁修复未复原</h3><img src="/static/202309/20230901-1.png" alt=""></div></li>
            <li><div><span>2023-09-01</span><h3>丽岛物业服务富丽庭全体业户证明，其未全心全意服务融科花满庭小区全体业主</h3><img src="/static/202309/20230901-2.jpg" alt=""></div></li>
        </ul>
    </div>
</div>
</body>
</html>