<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>小区是我们的家</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/viewer.min.css">
    <script src="/static/css/viewer.min.js"></script>
</head>
<body>
<div class="mainbody">
    <div class="peripheral">
        <ul class="detail">
            <!--li><div><span>2024-06-17</span><h4>物业经理明确说明应付业主</h4><img class="my_video" style="object-fit: contain;" src="/static/202406/20240617-1.jpg" alt=""></div></li-->
        </ul>
    </div>
</div>
</body>
<script type="text/javascript">
    document.querySelectorAll('.my_video').forEach(ele => {new Viewer(ele, {viewed() {},});})
</script>
</html>