body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-weight: normal;
    font-style: normal;
    /*font-size: 14px;*/
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/***************************header start********************************/
header {
    width: 100%;
    overflow: hidden;
}

.nav {
    width: 100%;
    background-color: #333;
}

.navCenter {
    width: 100%;
    /*height: 40px;*/
    line-height: 40px;
    margin: 0 auto;
}

.navCenter h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}
/***************************header end********************************/
/***************************mainbody start********************************/
.mainbody {
    width: 100%;
    /* padding-top: 60px; */
    background-color: #f5f5f5;
}

button {
    width: 100%;
    color: blue;
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
}

.peripheral {
    width: 100%;
}

.title p {
    width: 89px;
    height: 58px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    transition: all .4s;
    cursor: pointer;
}

.title p:hover {
    color: #ff6700;
}

.title p:hover i {
    color: #ff6700;
}

.title {
    width: 96%;
    height: 58px;
    margin-left: 2%;
    position: relative;
}

.title h2 {
    color: blue;
    font-weight: 200;
    margin-right: 2%;
    float: left;
}

.detail {
    width: 100%;
    float: left;
}

.detail li {
    width: 96%;
    /*height: 50px;*/
    margin-left: 2%;
    margin-bottom: 12px;
    padding: 12px 15px 12px 0;
    box-sizing: border-box;
    /*text-align: center;*/
    position: relative;
    float: left;
    background-color: #fff;
    transition: all .2s linear;
}

.detail li span {
    width: 150px;
    float: left;
}

.detail li h3 {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.detail li img {
    margin-left: 150px;
    max-height: 500px;
    max-width: 500px;
}
.detail a {
    color: #4c4c4c;
}

.showNone {
    display: none;
}

.showBlock {
    display: block;
}

.spinner-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #e5e5e555;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#tips {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #737373;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#tips.show {
    bottom: 99px;
    opacity: 1;
}

/***************************mainbody end********************************/
/***************************footer start********************************/
footer {width: 100%;}

.slogan {
    width: 100%;
    color: #d30202;
    text-align: center;
    margin: 0 auto;
}
.slogan div {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
}
/***************************footer end********************************/